* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    min-height: 100vh;
    border: 1rem solid;
    background: #926ea9;
    color: wheat;
    text-align: center;
}



.board-container {
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;

}

.board {
    margin: 5px;
    width: 320px;
    height: 150px;
    background: #282A3A;

}

.hidden {
    width: 0px;
}

.car-img {
    height: 150px;
}